<!DOCTYPE HTML>
<html>

<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <% if (site.keywords) { %>
        <meta name="keywords" content="<%= site.keywords %>" />
    <% } %>
    <% if (site.description) { %>
        <meta name="description" content="<%= site.description %>" />
    <% } %>
    
    <meta name="referrer" content="always">
    <title>
        <% if(typeof(pageTitle) !== 'undefined') { %>
            <%= pageTitle %>
        <% } else { %>
            <%= site.name %>
        <% } %>
    </title>
    <link href="/assets/images/shards-logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/assets/libs/font-awesome/css/fontawesome-all.css" rel='stylesheet'  />
    <link href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/libs/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/assets/libs/animate/animate.css" rel="stylesheet">
    <link href="/assets/libs/layer/layer.css" rel="stylesheet">
    <link href="/assets/libs/select2/select2.css" rel="stylesheet">
    <link href="/assets/css/framework-ui.css" rel="stylesheet">

    <script src="/assets/libs/jquery/jquery.js"></script>
    <script src="/assets/libs/popper/popper.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/libs/bootstrap-table/bootstrap-table.js"></script>
    <script src="/assets/libs/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/assets/libs/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/libs/jquery-validate/jquery.validate.js"></script>
    <script src="/assets/libs/layer/layer.js"></script>
    <script src="/assets/libs/select2/select2.js"></script>
    <script src="/assets/libs/select2/zh-CN.js"></script>
    <script src="/assets/libs/moment/moment.js"></script>
    <script src="/assets/js/framework-ui.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="md-skin">
    <div id="wrapper">
        <!--侧边栏-->
        <%- partial('_partial/sidebar') %>
        <div id="page-wrapper" class="gray-bg">
            <!--顶部栏-->
            <%- partial('_partial/header') %>
            <!--内容区域-->
            <%- body -%>
            <div id="loadingPage" style="display: none;">
                <div class="loading-shade"></div>
                <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
            </div>
        </div>
    </div>
</body>

</html>